<h1>Find out the volume of your parcel!</h1>

<form action="/parcels">
  <div class="form-group">
    <label for="length">Length of your parcel</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your parcel</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="depth">Depth of your parcel</label>
    <input id="depth" name="depth" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="delivery_type">Ground or Next Day</label>
    <input id="delivery_type" name="delivery_type" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="distance">Distance to destination</label>
    <input id="distance" name="distance" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Evaluate</button>
</form>
